## Data Structures

A **data structure** is a particular way of organizing data in a computer so that it can be used effectively 
For example we can store a collection of items in a list.

In python we have a few  built-in data structures available, for example:

   - Lists 
   - Tuples
   - Dictionaries 
   - Sets 
    
Lists and tuples are ordered sequences of objetcs. They contain any type of objects not just strings.

Sets are unordered sequence of object

## Lists 
Like a string, a list is a sequence of values. In a string, the values are characters; in a list,
they can be **any type**. The values in a list are called **elements** or sometimes items.

There are several ways to create a new list; the simplest is to enclose the elements in square
brackets ([ and ]):

    - [10, 20, 30, 40]
    - ['Holy Grail', 'Life of Brian', 'The Meaning of Life']
    - ['egg', 2, 3.14, [1,2,5,10]]
    
Other way of creating lists is by using the inbuilt function list([])

In [1]:
numbers = [10, 20, 30, 40] #list of integers
monty = ['Holy Grail', 'Life of Brian', 'The Meaning of Life'] #list of strings
random = ['java', 1, [1,2,3,4]] # heterogenous list with different data types.

In [2]:
numbers[0]

10

In [8]:
random2 = random[0], random[1]
random2

('java', 1)

In [17]:
words = ["Pen", "Paper", "Pineapple"]
print(words)
words2 = list(["Apple", "Pen", "Pineapple"])
print(words2)

['Pen', 'Paper', 'Pineapple']
['Apple', 'Pen', 'Pineapple']

In [15]:
n = list([1,2,3,4,5])

print(n)

type(n)

[1, 2, 3, 4, 5]

list

In [9]:
monty = ['Holy Grail', 'Life of Brian', 'The Meaning of Life']
monty1 = [monty[1],monty[0]] # Creating a new list from a list

In [10]:
monty1

['Life of Brian', 'Holy Grail']

In [132]:
num = [numbers[0],numbers[2]]

In [133]:
numb

[10, 30]

In [136]:
j = [1,2,3,4,5]
k = [j[4],j[1],j[0]]

In [137]:
print(j)
print(k)

[1, 2, 3, 4, 5]
[5, 2, 1]

In [4]:
empty = [] # Empty lists are lists with no elements and can be populated at a later time in your program

#### List are mutable 
Lists can be changed - unlike strings, lists are mutable. When the bracket operator appears on the left side of an assignment, it identifies the element of the list that will be assigned

The syntax for accessing the elements of a list is the same as for accessing the **characters
of a string**â€”the bracket operator[]. The expression inside the brackets specifies the index.
The indices start at 0. For example:

    print(monty[0])

In [3]:
words = ["Pen", "Paper", "Pineapple"]

In [4]:
words[0] ="Apple"

In [5]:
words

['Apple', 'Paper', 'Pineapple']

In [23]:
words[2] = 'Mango'
print(words)

['Apple', 'Paper', 'Mango']

In [134]:
monty[1] = 'Not Life of Brian'

In [135]:
monty

['Holy Grail', 'Not Life of Brian', 'The Meaning of Life']

In [11]:
print(monty[1]) # accessing items in a list

Life of Brian

In [2]:
even_num = [2,4,6,8]
even_num

[2, 4, 6, 8]

In [4]:
even_num[1] = 10
even_num

[2, 10, 6, 8]

In [5]:
even_num[3]

8

In [6]:
even_num[-1]

8

In [12]:
numbers

[10, 20, 30, 40]

In [13]:
numbers[1] = 70 # lists are mutable

In [14]:
numbers

[10, 70, 30, 40]

In [142]:
numbers[-4]

10

This can be done because of the relationship  between indices and element. This relationship is called **mapping** 

List indices work the same way as string indices: 
- Any integer expression can be used as an index.
- If you try to read or write an element that does not exist, you get an IndexError
- If an index has a negative value, it counts backwards from the end of the list

We also have the in operator, that works the same on lists as it did on strings. 

e.g

numbers = [10, 20, 30, 40]

10 in numbers - This will return either true or false

In [25]:
data = ["Bottle", "Mouse", "Phone"]

In [26]:
"Bottle" in data

True

In [27]:
"Book" in data

False

In [28]:
even_num = [2,4,6,8]
2 in even_num

True

In [29]:
5 in even_num

False

In [143]:
10 in numbers

True

In [144]:
23 in numbers

False

In [15]:
70 in numbers

True

In [21]:
17 in numbers

False

In [22]:
21 in numbers

False

#### Traversing a list 
The most common way to traverse a list is a **for** loop 
the syntax remains

    for x in monty:
        print x

In [33]:
numbers = [10, 20, 30, 40]
for i in numbers:
    print(i)

10
20
30
40

In [34]:
# Multiplying by 2
for i in numbers:
    print(i*2)

20
40
60
80

In [ ]:
# Square of numbers
for i in numbers:
    print(i**2)

sequence = [12, 34, 89, 56]
for every_element in sequence:
    print(every_element * 2)

In [25]:
for x in monty:
    print(x)

Holy Grail
Not the Life of Brian
The Meaning of Life

In [37]:
bag = ["Keys", "Notebook", "Oil"]

for b in bag:
    print(b)

Keys
Notebook
Oil

The above works well if you need to read the elements of a list. But if you want to write or updata the elemenst, you need the indice.
A common way to do this is to combine the function range and len

    for i in range(len(numbers)):
    numbers[i] = numbers[i] * 2
    
This loop traverses the list and updates each element. len returns the number of elements in the list. range returns a list of indices from 0 to n - 1, where n is the length of the list.Each time through the loop i gets the index of the next element. The assignment statement in the body uses i to read the old value of the element and to assign the new value.

The code uses a for loop to iterate over the elements in the list number. The range() function is used to determine the number of iterations the for loop should perform. The len() function is used to find the length of the number list and provide that number to range(). This means that the for loop will run exactly as many times as there are elements in the number list.

In each iteration of the for loop, the current element of the list number is accessed using its index (i) and then multiplied by 2. The updated value is then stored back in the list at the same index, effectively updating each element in the list

In [42]:
number = [10,20,30,40]

In [47]:
len(number)

4

In [43]:
for i in range(len(number)):
    number[i] = number[i] *2
    
print(number)

[20, 40, 60, 80]

In [44]:
number

[20, 40, 60, 80]

In [46]:
for i in range(len(number)):
    number[i] = number[i]**2

print(number)

[160000, 2560000, 12960000, 40960000]

#### List Operations 
 The + operator concatenates lists:
 
 a = [1,2,3]
 b = [4,5,6]
 
 c = a + b 
 
 then c will have [1,2,3,4,5,6]
 
 The * operator repeats a list a given number of times 
 
 [1] * 4 is [1,1,1,1]

In [9]:
a = [1,2,3]
b = [4,5,6]

c = a + b

print(c)

[1, 2, 3, 4, 5, 6]

In [48]:
fname = ["Joyce"]
lname = ["Jane"]

full_name = fname + lname
print(full_name)

['Joyce', 'Jane']

In [10]:
[1 , 2, 3] * 5

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [30]:
[2] * 5

[2, 2, 2, 2, 2]

In [157]:
[30] * 10

[30, 30, 30, 30, 30, 30, 30, 30, 30, 30]

#### List Slicing 
The slice operator also works on lists, same as strings:

Slicing uses indexes, and always includes the first and excludes the last 

p = ['m', 'o', 'n', 't', 'y']

p[0:3] - mon

p[-1] - y

p[3:] - ty

In [51]:
p = ['P', 'y', 't', 'h', 'o', 'n']
p[0:3]

['P', 'y', 't']

In [52]:
p[3:]

['h', 'o', 'n']

In [55]:
p[-4:-1]

['t', 'h', 'o']

#### List Methods
Python provides methods that append 

We have a couple at - https://www.programiz.com/python-programming/methods/list

For example 
append(), extend(), index, count(), pop(), reverse(), sort(), max(), min(), all(), any(), len() etc 

**index()**

returns the index of an element

e.g new_list = ['a', 'b', 'c', 'd', 'e']

new_list.index('a') - should return 0

**insert()** 

insert elements using their index

new_list.insert(0, 'f')

should return a new list with 'f' at index 0 ie  ['f' ,'a' , 'b' , 'c' ,'d' ,'e']

**count()** 

returns count of the element in the list

new_list.count('a') brings 1 because a appears only once in the list

**sort()** 
sorts elements of a list

new_list.sort()

**append()**
Add a single element to the end of the list

new_list.append('q') will add q to the end of that list ie  ['f' ,'a' , 'b' , 'c' ,'d' ,'e','q']

**extend()**
adds iterable elements (list, tuple, string etc.) to the end of the list 

new_list.extend(another_list)

The difference between append and extends:

- **append** adds its argument as a single element to the end of a list. The length of the list itself will increase by one
- **extend**  iterates over its argument adding each element to the list, extending the list. The length of the list will increase by however many elements were in the iterable argument.

In [61]:
nums = [1,2,3,4,5,7,7,8]

nums.index(1)

0

In [67]:
nums.insert(1, 4)

nums

[4, 4, 0, 0, 1, 2, 3, 4, 5, 7, 7, 8]

In [73]:
nums.count(4)

3

In [76]:
nums.sort(reverse = True) # Default sort is in ascending order, to sort in descending order use reverse = True

nums

[8, 7, 7, 5, 4, 4, 4, 3, 2, 1, 0, 0]

In [59]:
new_list = ['a', 'b', 'c', 'd', 'e','a','a']

new_list.index('c')

2

In [159]:
new_list.index('e')

4

In [62]:
new_list.insert(1, 'f')

new_list

['a', 'f', 'b', 'c', 'd', 'e', 'a', 'a']

In [63]:
new_list.index('f')

1

In [71]:
new_list.count('a')

3

In [74]:
new_list.sort()

new_list

['a', 'a', 'a', 'b', 'c', 'd', 'e', 'f']

In [172]:
new_list.append('q')

new_list

['a', 'a', 'a', 'b', 'c', 'd', 'e', 'f', 'q']

In [46]:
a  = [1,2,3,5,6]

In [47]:
b = [7,6,8,9]

In [48]:
a.append(b) # b will be treated as one element

In [49]:
a

[1, 2, 3, 5, 6, [7, 6, 8, 9]]

In [58]:
c = [1,2,3,5,6]

In [59]:
d = [7,6,8,9]

In [60]:
c.extend(d) # elements in d will be added individually

In [61]:
c

[1, 2, 3, 5, 6, 7, 6, 8, 9]

In [56]:
# create a list
even_numbers = [2, 4, 6]

# create another list
numbers = [8, 10]

# add all elements of even_numbers to numbers
numbers.append(even_numbers)

print(numbers)

[8, 10, [2, 4, 6]]

**In this case for append, a single item 'even_numbers' is added to the list number

In [53]:
# create a list
prime_numbers = [2, 3, 5]

# create another list
numbers = [1, 4]

# add all elements of prime_numbers to numbers
numbers.extend(prime_numbers)

print(numbers)

[1, 4, 2, 3, 5]

In [80]:
list1 = ["Strathmore", "Daystar","JKUAT"] # list on its own
list2 = ["Riara", "UON"] # list on its own

In [81]:
list1.append(list2) # adds as a single element

list1

['Strathmore', 'Daystar', 'JKUAT', ['Riara', 'UON']]

In [83]:
list3 = ["Strathmore", "Daystar","JKUAT"]
list4 =  ["Riara", "UON"]

In [84]:
list3.extend(list4) # each element will be added as an element on its own

list3

['Strathmore', 'Daystar', 'JKUAT', 'Riara', 'UON']

#### List Comprehension 
Traditionally, a piece of code that loops over a sequence could be written  as follows:
    
    even = []
    
    for i in range(10):
        if i%2 == 0:
            even.append(i)
    even
    
    
the above method works well, but it actuallu makes things slower for Python, as the interpreter works on each loop to determine what part of the sequence has to be changed

Hence the idea of **list comprehension**

List comprehension offers a shorter syntax when you want to create a new list 

[i for i in range(10) if i % 2 == 0]

In [85]:
even = [] 
for i in range(10):
    if i%2 == 0:
        even.append(i)
even

[0, 2, 4, 6, 8]

In [86]:
even_again = [i for i in range(10) if i % 2 == 0]
even_again

[0, 2, 4, 6, 8]

## Tuples 
Tuples are an ordered sequence of values. The values can be any type, and they are indexed by
integers, so in that respect tuples are a lot like lists. The important difference is that tuples
are **immutable**.

Tuples are useful because they:

 - protect the data, which is immutable 
 - tuples can be used as keys on dictionaries


Syntactically, a tuple is a comma-separated list of values

t = 'a', 'b', 'c', 'd'

Although not necessary it is common to enclose a tuple in parentheses:

t = ('a', 'b', 'c', 'e')

To create a tuple with a single element, you have to include a final comma: 

e.g tu = 'a',

You can also use the inbuilt function **tuple** to create a tuple

a = tuple(['python'])

#### Slicing Tuples

Slice operators work on tuples same as lists only that you cannot modify a tuple 

t[0:3] - ('a','b','c')

In [88]:
names = tuple(['Carol', 'John', 'Okoth', 'Louis'])
names

#type(names)

('Carol', 'John', 'Okoth', 'Louis')

In [87]:
name2 = 'Carol', 'John', 'Okoth' , 'Louis'
name2

('Carol', 'John', 'Okoth', 'Louis')

In [12]:
name3 = ('Carol', 'John', 'Okoth' , 'Louis')
n4 = set(name3)
n4

{'Carol', 'John', 'Louis', 'Okoth'}

In [4]:
nums = tuple([1,3,5,6,7])
nums = nums[3:]

In [5]:
nums

(6, 7)

In [181]:
type(nums)

tuple

In [90]:
name4 = 'Wambui',
name4

('Wambui',)

In [91]:
name5 = ('Wambui',)
name5

('Wambui',)

In [14]:
names_two = ('Carol',)
type(names_two)

tuple

In [185]:
letter = 'a',
letters = ('a',)

print(letter)
print(letters)

('a',)
('a',)

In [49]:
print(names_two)

('Carol',)

In [53]:
t = ('a', 'b', 'c', 'e')

In [54]:
type(t)

tuple

In [55]:
g = 'a', 'b', 'c', 'd'

In [56]:
g

('a', 'b', 'c', 'd')

In [57]:
 tu = ('a',)

In [58]:
tu

('a',)

In [59]:
type(tu)

tuple

In [60]:
a = tuple([1,2,3,4,5,6])

In [61]:
a

(1, 2, 3, 4, 5, 6)

In [6]:
a = 'c',
b = 'd'

In [7]:
type(a)

tuple

#### Tuple Assignment 

Video Explanation: https://www.youtube.com/watch?v=iq9WBeCRaSM&ab_channel=CodingwithEstefania

It is at times useful to swap the values of two variables. With the usual assignment which at times becomes hectic. 

example 

a = b 

b = c

c = a

**Tuple Assignment** is a better way of doing this 

a, b = b, a

The left side is a tuple of variables; the right side is a tuple of expressions/values. Each value
is assigned to its respective variable. All the expressions on the right side are evaluated
before any of the assignments.

In [15]:
a = 7,

b = 10,

a = b # the value of a becomes 10

b = a # the value of b is still 10, because a has now changed to 10

print(a)
print(b)

(10,)
(10,)

In [16]:
a = 7,

b = 10, 

temp = a # store value a in a temporary variable , 7

a = b # the value of a becomes 10

b = temp # the value of b becomes 7

print(a)
print(b)

(10,)
(7,)

In [17]:
a = 7,

b = 10,

a , b = b, a #tuple assignment

print(a)
print(b)

(10,)
(7,)

In [50]:
student, interest, food = 'Geraldine', 'Read', 'Potatoes'

In [52]:
student

'Geraldine'

In [51]:
print(f"I am {student}, and i like to {interest} and eat {food} ")

I am Geraldine, and i like to Read and eat Potatoes

In [187]:
student, menu, game = 'Rosanne','rice', 'basketball'

In [64]:
game

'basketball'

In [188]:
menu

'rice'

In [189]:
a = 8,

b = 10,

#Tuple assignment

a ,b = b ,a 

print(a)
print(b)

(10,)
(8,)

In [190]:
a = 'Jane',

b = 'Peter',

a, b = b, a

print(a)
print(b)

('Peter',)
('Jane',)

In [191]:
a

('Peter',)

In [192]:
b

('Jane',)

In [197]:
(a,b,c) = (4,5,6)
a

4

In [194]:
b

5

In [195]:
c

6

#### Tuple methods 

Comprehensive list - https://www.programiz.com/python-programming/methods/tuple

Tuple is immutable, hence there are only 2 methods that tuple object can call: **count** and **index**. 

*count()*
returns count of the element in the tuple 

num.count(4)

*index()*
returns the index of the element in the tuple

num.index(4)

In [2]:
num = 1,2,3,4,5,5,6,7

In [200]:
num.count(5)

2

In [202]:
index = num.index(5)

index

4

In [4]:
num.index(1)

0

In [201]:
index = num.index(6)

index

6

## Dictionaries 

A dictionary is like a list, but more general. In a list, the indices have to be integers; in a
dictionary they can be (almost) any type.

You can think of a dictionary as a mapping between a set of indices (which are called **keys**)
and a set of **values**. Each key maps to a value. The association of a key and a value is called
a key-value pair or sometimes an item.

Creating a dictionary 

- Lets create a dictionary that maps English to Swahili: 
    
- You can use the inbuit function dict(), or you can use {} to make a dictionary

In [68]:
eng2swa = { 'one' : 'moja',
           'two': 'mbili',
           'three' : 'tatu',
           'four' : 'nne',
           'five' : 'tano'
    
}
eng2swa

{'one': 'moja', 'two': 'mbili', 'three': 'tatu', 'four': 'nne', 'five': 'tano'}

In [94]:
eng2swa['one']

'moja'

In [95]:
eng2swa['five']

'tano'

In [216]:
eng2swa.items()

dict_items([('one', 'moja'), ('two', 'mbili'), ('three', 'tatu'), ('four', 'nne'), ('five', 'tano')])

In [210]:
eng2swa.keys()

dict_keys(['one', 'two', 'three', 'four', 'five'])

In [214]:
eng2swa.values()

dict_values(['moja', 'mbili', 'tatu', 'nne', 'tano'])

The in operator only checks for keys and not values

In [217]:
'one' in eng2swa

True

In [222]:
'six' in eng2swa

False

In [96]:
"nne" in eng2swa

False

In [97]:
"mbili" in eng2swa

False

In [18]:
num2swa = {1: 'one',2: 'two', 3: 'three'}
num2swa

{1: 'one', 2: 'two', 3: 'three'}

In [19]:
num2swa.keys()

dict_keys([1, 2, 3])

In [20]:
num2swa.values()

dict_values(['one', 'two', 'three'])

In [21]:
num2swa.items()

dict_items([(1, 'one'), (2, 'two'), (3, 'three')])

In [93]:
#Checking your keys
eng2swa.keys()

dict_keys(['one', 'two', 'three', 'four', 'five'])

In [114]:
#Checking your values
eng2swa.values()

dict_values(['un', 'deux', 'trois', 'quatre', 'cinq'])

In [94]:
#Check dictionary
eng2swa.items()

dict_items([('one', 'un'), ('two', 'deux'), ('three', 'trois'), ('four', 'quatre'), ('five', 'cinq')])

In [93]:
#accessing the values by their keys
eng2swa['three']

'tatu'

In [22]:
num2swa = {1: 'one',2: 'two', 3: 'three'}
num2swa

{1: 'one', 2: 'two', 3: 'three'}

In [23]:
num2swa[1]

'one'

In [24]:
num2swa[2]

'two'

In [25]:
len(num2swa)

3

In [28]:
len(eng2swa)

5

In [89]:
#Creating a dictionary using the keyword dict
eng2esp = dict(one="uno")

In [98]:
fruits = dict(sweet = "apple" , bitter = "lemon" )
fruits

{'sweet': 'apple', 'bitter': 'lemon'}

In [99]:
fruits.keys()

dict_keys(['sweet', 'bitter'])

In [100]:
fruits.values()

dict_values(['apple', 'lemon'])

In [90]:
eng2esp

{'one': 'uno'}

In [95]:
type(eng2esp)

dict

In [96]:
eng2esp = {'one': 'uno', 'three': 'tres', 'two': 'dos'}

#### Dictionary methods
 Get the list from - https://www.programiz.com/python-programming/methods/dictionary

##### Checking your keys
eng2fre.keys()
##### Check dictionary
eng2fre.items()
##### in operator 
'three' in eng2fre
##### create a new dictionary 
returns a copy of the dictionary

fre = eng2fre.copy()
##### clear
removes all the items in a dictionary 

fre.clear()
##### get()
returns the value of the key

eng2fre.get('one')
##### pop()
removes and returns an element from a dictionary having the given key.

eng2fre.pop('one')
##### update()
eng2fre.update({'two':'mbili'})

In [54]:
my_dict = {'a': 1, 'b': {'c': 2, 'd': 3}}

# Update with nested elements
my_dict = {**my_dict, 'b': {**my_dict['b'], 'e': 4}}

print(my_dict)
# Output: {'a': 1, 'b': {'c': 2, 'd': 3, 'e': 4}}

{'a': 1, 'b': {'c': 2, 'd': 3, 'e': 4}}

In [50]:
nums = dict(moja = "one" , mbili = "two", tatu ="three", nne ="four")
nums

{'moja': 'one', 'mbili': 'two', 'tatu': 'three', 'nne': 'four'}

In [102]:
nums.keys()

dict_keys(['moja', 'mbili', 'tatu', 'nne'])

In [103]:
nums.items()

dict_items([('moja', 'one'), ('mbili', 'two'), ('tatu', 'three'), ('nne', 'four')])

In [105]:
nums.values()

dict_values(['one', 'two', 'three', 'four'])

In [106]:
'moja' in nums

True

In [109]:
new = nums.copy()
new

{'moja': 'one', 'mbili': 'two', 'tatu': 'three', 'nne': 'four'}

In [110]:
nums.get('moja')

'one'

In [2]:
nums.pop("moja") # this removes the key value pair

'one'

In [3]:
nums

{'mbili': 'two', 'tatu': 'three', 'nne': 'four'}

In [112]:
nums.clear()

nums

{}

In [34]:
nums.items()

dict_items([('moja', 'one'), ('mbili', 'two'), ('tatu', 'three'), ('nne', 'four')])

In [35]:
nums.keys()

dict_keys(['moja', 'mbili', 'tatu', 'nne'])

In [36]:
nums.values()

dict_values(['one', 'two', 'three', 'four'])

In [37]:
3 in nums

False

In [39]:
nambari = nums.copy()
nambari

{'moja': 'one', 'mbili': 'two', 'tatu': 'three', 'nne': 'four'}

In [41]:
nambari.clear()
nambari

{}

In [42]:
nums.get("moja")

'one'

In [113]:
nums

{}

In [114]:
nums = dict(moja = "one" , mbili = "two", tatu ="three", nne ="four")
nums

{'moja': 'one', 'mbili': 'two', 'tatu': 'three', 'nne': 'four'}

In [115]:
nums.pop("moja")

'one'

In [116]:
nums

{'mbili': 'two', 'tatu': 'three', 'nne': 'four'}

In [117]:
nums.pop("moja")

KeyError: 'moja'

In [45]:
nums.pop("moja")

KeyError: 'moja'

In [46]:
nums

{'mbili': 'two', 'tatu': 'three', 'nne': 'four'}

In [50]:
nums.update({"mbili" : 2})
nums

{'mbili': 2, 'tatu': 'three', 'nne': 'four'}

In [53]:
#Nested dictionary
book = {
        1:{'title':'A song of ice and fire', 'author': 'G.R.R.M'},
        2:{'title':'The Lord of the Rings', 'author':'J.R.R.T'},
        3:{'title':'Emotional Healing', 'author':'Jandevrivs'}
}

In [ ]:
book.update(4='titlw')

In [82]:
book.items()

dict_items([(1, {'title': 'A song of ice and fire', 'author': 'G.R.R.M'}), (2, {'title': 'The Lord of the Rings', 'author': 'J.R.R.T'}), (3, {'title': 'Emotional Healing', 'author': 'Jandevrivs'})])

In [83]:
book.keys()

dict_keys([1, 2, 3])

In [85]:
book.values()

dict_values([{'title': 'A song of ice and fire', 'author': 'G.R.R.M'}, {'title': 'The Lord of the Rings', 'author': 'J.R.R.T'}, {'title': 'Emotional Healing', 'author': 'Jandevrivs'}])

In [86]:
for i in book.values():
    print(i)

{'title': 'A song of ice and fire', 'author': 'G.R.R.M'}
{'title': 'The Lord of the Rings', 'author': 'J.R.R.T'}
{'title': 'Emotional Healing', 'author': 'Jandevrivs'}

In [87]:
for i in book.items():
    print(i)

(1, {'title': 'A song of ice and fire', 'author': 'G.R.R.M'})
(2, {'title': 'The Lord of the Rings', 'author': 'J.R.R.T'})
(3, {'title': 'Emotional Healing', 'author': 'Jandevrivs'})

In [115]:
for i in book.keys():
    print(i)

1
2
3

In [89]:
squares = {}
for x in range(8):
    squares[x] = x**2

In [102]:
squares

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [117]:
for x in squares.values():
    print(x)

0
1
4
9
16
25
36
49

In [101]:
{x for x in squares.values()}

{0, 1, 4, 9, 16, 25, 36, 49}

In [102]:
{x for x in squares.keys()}

{0, 1, 2, 3, 4, 5, 6, 7}

In [103]:
{x for x in squares.items()}

{(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49)}

In [104]:
squares.items()

dict_items([(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49)])

In [105]:
squares.keys()

dict_keys([0, 1, 2, 3, 4, 5, 6, 7])

In [107]:
squares.values()

dict_values([0, 1, 4, 9, 16, 25, 36, 49])

## Sets
Equivalent to sets in mathematics. 
A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. 

Sets are constructed from a sequence (or some other iterable object).
Since sets cannot have duplicated, there are usually used to build sequence of unique items (e.g., set of identifiers)

You create sets by using: 
  - {}
  - set()

In [1]:
evn = {2,4,6,8,10,10,10}
odd = {1,3,5,7,9}
prime = {2,3,5,7}

In [9]:
evn.union(prime)

{2, 3, 4, 5, 6, 7, 8, 10}

In [10]:
evn ^ prime

{3, 4, 5, 6, 7, 8, 10}

In [11]:
odd | prime

{1, 2, 3, 5, 7, 9}

In [12]:
odd ^ prime

{1, 2, 9}

In [4]:
prime -odd

{2}

In [6]:
prime - evn

{3, 5, 7}

In [3]:
evn

{2, 4, 6, 8, 10}

## Examples of operations that can be done on sets

In [91]:
evn.union(odd) #returns a set that contains all the items in both the sets- combines even and odd

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [3]:
evn.union(prime)

{2, 3, 4, 5, 6, 7, 8, 10}

In [4]:
odd | prime # returns a set with all the items in odd and prime

{1, 2, 3, 5, 7, 9}

In [111]:
evn | odd #same as union returns a set that has all the elements in both sets even or odd

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [113]:
odd.intersection(prime) # returns a set that has items that exist in both the sets -numbers that are both odd and prime

{3, 5, 7}

In [114]:
odd & prime # same as intersection

{3, 5, 7}

In [5]:
evn.intersection(prime)# both even and prime

{2}

In [6]:
evn & prime

{2}

In [115]:
odd.symmetric_difference(prime) # returns a set of items that are not in both sets

{1, 2, 9}

In [116]:
odd ^ prime # same as symmetric difference

{1, 2, 9}

In [7]:
evn.symmetric_difference(prime)

{3, 4, 5, 6, 7, 8, 10}

In [117]:
evn - prime # returns a set of the difference between two sets ie all items in evn and not in prime -number that is even but not prime

{4, 6, 8, 10}

In [118]:
odd - prime # returns a set of the difference between two sets ie all items in odd and not in prime - #number that is odd but not prime

{1, 9}

## Using the sets below find:
- a | b (a union b)
- a & b (a intersection b)
- a ^ b ( a symmetric difference b)
- b - a ( b difference a)

In [59]:
#you can also use the keyword set to create a Python set
a = set([1, 2, 3, 4])
b = set([3, 4, 5, 6])

In [121]:
a | b #union or a.union(b) all items in both sets without duplicates

{1, 2, 3, 4, 5, 6}

In [122]:
a & b # Intersection a.intersection(b) items that exist in both

{3, 4}

In [125]:
a ^ b # Symmetric Difference returns a set of items from both sets except items that are present in both sets

{1, 2, 5, 6}

In [124]:
b - a # Difference b.difference(a) returns all the items in b that are not in a

{5, 6}

In [61]:
set1 = {1,2,3,4,5,6,7}

In [56]:
dir(set1)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [66]:
set1.update([89])

In [67]:
set1

{1, 3, 4, 5, 6, 7, 89}