# Data Stuructures Short Notes
**Data structures** - these are a way of organizing data for easier manipulation.

##### Types of Data structures in python
- Lists
- Tuples
- Dictionaries
- Sets

### Lists:
- Lists  are mutable (you can make changes to the items in the lists) and ordered (The items in a list are indexed, indexing starts from zero)

##### Using Python, create a list of  all the months in a year .

# Ways of creating lists:
- using the list() inbuilt function
- using the square brackets

In [32]:
months = ["jan","feb","mar","apr","may","jun","jul","aug","sep","oct","nov","dec"]

print(months)
type(months)

['jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep', 'oct', 'nov', 'dec']

list

In [2]:
month = ["jan","feb","mar","apr","may","jun","jul","aug","sep","oct","nov","dec"]
months1 = list(month)

type(months1)

list

#Ways of accessing items in a list.
- You use square brackets and indices

In [5]:
months = ["jan","feb","mar","apr","may","jun","jul","aug","sep","oct","nov","dec"]

months[-1]

'dec'

#If you want to check if an item is a list you use "in"

In [6]:
"jan" in months

True

In [7]:
"may" in months

True

In [8]:
"May" in months

False

#Traversing:
- you use for loops.
- one can also do calculations or have expressions other than print in the loop

In [11]:
months = ["jan","feb","mar","apr","may","jun","jul","aug","sep","oct","nov","dec"]

for month in months:
    
    print (month)

jan
feb
mar
apr
may
jun
jul
aug
sep
oct
nov
dec

In [12]:
numbers = [1,2,3,4,5,6,7,8,9,10]
for number in numbers:
    if number %2 != 0:
        print(number)

1
3
5
7
9

#### Create a list  and append  all odd numbers from one to 20.

In [13]:
numbers = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

#Have an empty list that we are to append to
odd_numbers =[]

for number in numbers:
    if number %2 != 0:
        odd_numbers.append(number)
        
odd_numbers

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

#You can use range() and  len()inbuilt functions

for i in range(len(list))
#Range() starts from zero and excludes the last
#Len() prints the  total number of items in a list which is 'n' and with indices the last item is n-1.

In [14]:
numbers = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
#Have an empty list that we are to append to
odd_numbers =[]

for number in range(len(numbers)):
    if number %2 != 0:
        odd_numbers.append(number)
        
odd_numbers

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [15]:
numbers = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
#Have an empty list that we are to append to
odd_numbers =[]

for number in range(21):
    if number %2 != 0:
        odd_numbers.append(number)
        
odd_numbers

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

## Operations in lists

##### Create two lists of the months and dates from one to 10

+ this concatenates 
* this repeats

In [16]:
months = ["jan","feb","mar","apr","may","jun","jul","aug","sep","oct","nov","dec"]
len(months)

12

In [17]:
dates = [1,2,3,4,5,6,7,8,9,10]
len (dates)

10

In [18]:
calender = dates + months
print (calender)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep', 'oct', 'nov', 'dec']

In [19]:
type(calender)

list

In [22]:
dates = [1,2,3,4,5,6,7,8,9,10]
dates1 = dates*3
print (dates1)
len (dates1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

30

#Slicing 
Slicing is done using square brackets and enter the items you would like to slice using their indices.
Slicing includes the first index and excludes the last.

In [30]:
months = ["jan","feb","mar","apr","may","jun","jul","aug","sep","oct","nov","dec"]

In [31]:
months.index("jul")

6

In [32]:
month[0:7]

'dec'

### List Methods

Most common:

In [33]:
# reverse() - writes the items in reverse
list = [1,2,3,4]
list.reverse()
print(list)

[4, 3, 2, 1]

In [36]:
# append() - this adds SINGLE items to a list.
# If you try appending a list to a list it adds the list as a single item
list1 = [1,2,3,4]
list_number = 10
list2 = [5,6,7,8,9]

list1.append(list_number)
list1

[1, 2, 3, 4, 10]

In [3]:
list1 = [1,2,3,4]
len(list1)

4

In [3]:
list1 = [1,2,3,4]
list3 = [5,6,7,8,9]
list1.append(list3)

list1

[1, 2, 3, 4, [5, 6, 7, 8, 9]]

In [6]:
len(list1)

6

In [1]:
# extends() - this adds items to a list individually.
# If you try extending a list on a list it adds every item in the list as a single item
list1 = [1,2,3,4]
list3 = [5,6,7,8,9]

list1.extend(list3)

list1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
len(list1)

9

In [ ]:
# index() - this checks the index of an item. It has a single argument.

In [4]:
# insert() - used to add an item to the list and allows you to specify the place you would like to
# place the item using indices. 
# It takes two arguments: insert(index,"item")


list3 = [5,6,7,8,9]
list3.insert(2,34)
list3

[5, 6, 34, 7, 8, 9]

In [5]:
# count()- counts the number an item has been used in a list.

list3 = [5,6,7,8,9,9,9,9,9,9,9,9]
list3.count(9)

8

In [4]:
#sort()- re-arranges your items in order.
list3 = [5,6,7,8,9,9,9,9,9,9,9,9,34, 20,50,12,-1]

list3.sort()
list3

[-1, 5, 6, 7, 8, 9, 9, 9, 9, 9, 9, 9, 9, 12, 20, 34, 50]

#List Comprehension
- This an easier way of writing a loop and appending the outputs to a list.
- The original way makes the code slower as the interpreter works on each loop to append.
- To make the operation a bit faster their is an easier way to do this:
      [i for i in range(50)if i%2==0]

### Using python, write a function using loops to append even numbers to range(50) to a list.

In [5]:
#To see how long it takes for calculation we will the time import.
#original way:

even= []
for number in range(51):
    if number%2==0:
        even.append(number)
even

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50]

In [12]:
#using list comprehension:

even = [i for i in range(50)if i%2 ==0]
even

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48]

# Tuples:

- Tuples are ordered and immutable(we cannot make changes to the code)

##### Using Python, create a tuple of  all the months in a year .

#Creating a tuple 
- using parentheses  and commas. Its not a must to use parentheses.
- use the tuple () function.

#Check type of data structure using type() function.

In [7]:
months = ["jan","feb","mar","apr","may","jun","jul","aug","sep","oct","nov","dec"]
months_tuple = tuple(months)
type(months_tuple)

tuple

In [6]:
months = ("jan","feb","mar","apr","may","jun","jul","aug","sep","oct","nov","dec")
type(months)

tuple

In [8]:
months = "jan","feb","mar","apr","may","jun","jul","aug","sep","oct","nov","dec"
type(months)

tuple

In [9]:
#Check out the number of items used in the tuple using the len()function.

months = ("jan","feb","mar","apr","may","jun","jul","aug","sep","oct","nov","dec")
len(months)

12

In [15]:
#Slicing the tuple using indices.

months[6:13]

('jul', 'aug', 'sep', 'oct', 'nov', 'dec')

### Tuple Assignment

Tuples allow us to assign values to items.

student, interest, food = "Geraldine","Read","Potatoes"

###### Assign students 5 python units to go read and present to a class.

In [16]:
John, James, Mary, Maria, Yusuf = "Conditional statements", "Loops", "Variables","Oparations","Errors"

In [17]:
print(Maria)

Oparations

In [18]:
print(Yusuf)

Errors

### Tuple Methods

-Tuples are immutable hence we only have two methods.

In [ ]:
# count() - counts the number an item has been used in a tuple. Has one argument.

In [ ]:
#index() - Returns the index of an item/ element. Has two arguments

# Dictionaries:
- They are lists but a bit more general.
- They use keys: values.

#Creating a dictionary
-Using curly brackets {}
-Using the dict() function

######  Create a dictionary of 5 students that  assigns each student 5 python units to cover.

In [21]:


students = {"John":"Conditional statements",
           "James":"Loops",
           "Mary":"Variables",
           "Maria":"Oparations",
           "Yusuf":"Errors"}
print(students)

{'John': 'Conditional statements', 'James': 'Loops', 'Mary': 'Variables', 'Maria': 'Oparations', 'Yusuf': 'Errors'}

#Accessing a value.
-Access a value using its key. Hence keys should be unique.
-Using 'in'. Use the key also.

In [22]:
students["John"]

'Conditional statements'

In [23]:
students["Maria"]

'Oparations'

In [24]:
"Maria" in students

True

In [25]:
"Joseph" in students

False

# Add an entry to the dictionary:
-use dict['key'] = 'value'

In [26]:
students["Joseph"] ="Python basics"
print(students)

{'John': 'Conditional statements', 'James': 'Loops', 'Mary': 'Variables', 'Maria': 'Oparations', 'Yusuf': 'Errors', 'Joseph': 'Python basics'}

#Delete an item:
-use the del to delete an item:
    del dict["key"]

In [27]:
del students["Joseph"]
print (students)

{'John': 'Conditional statements', 'James': 'Loops', 'Mary': 'Variables', 'Maria': 'Oparations', 'Yusuf': 'Errors'}

# use clear() - to clear a dictionary.
# keys() - to check the keys in your dictionary.
# values() - to check the values in your dictionary.

## Dictionary Methods

In [28]:
# items() - checks the dictionary items.
students.items()

dict_items([('John', 'Conditional statements'), ('James', 'Loops'), ('Mary', 'Variables'), ('Maria', 'Oparations'), ('Yusuf', 'Errors')])

In [ ]:
# pop() - removes and returns an element.
# update() - adds content to the dictionary, etc.

In [37]:
new_student = {"Joseph":"Condition"}
students.update(new_student)
print(students)

{'John': 'Conditional statements', 'James': 'Loops', 'Mary': 'Variables', 'Maria': 'Oparations', 'Yusuf': 'Errors', 'Joseph': 'Condition'}

## SETS
- They are the same as the ,mathematical sets (Venn diagram - two circles)
- They are unordered, iterable, mutable and no duplicate items/elements. 
- Used to build sequence of unique items

# Creating sets.
- Create using {} 
numbers1 = {2,4,6,8,10,10,10}

-You can use the set() function.
numbers2 = [2,4,6,8,10,10,10]
number = set(numbers2)
number

**UNION**

- Used to get items that are  in both sets.
- use union() or |

## Using the following two sets do all the set operation:
 
    setA = {1,2,3,4,8,9,10}
    setB = {2,6,7,9,11,4,12,13,10}

In [38]:
setA = {1,2,3,4,8,9,10}
setB = {2,6,7,9,11,4,12,13,10}
#Union
setA | setB

{1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13}

In [39]:
setA.union(setB)

{1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13}

**INTERSECTION**

- Used to get ONLY COMMON items in both sets.
- use intersection() or &

In [40]:
setA & setB

{2, 4, 9, 10}

In [41]:
setA.intersection(setB)

{2, 4, 9, 10}

**SYMMETRIC DIFFERENCE**

- Used to get the the items that are NOT COMMON in both sets.(Opposite of intersection)
- use symmetric_difference() or ^

In [42]:
setA ^ setB

{1, 3, 6, 7, 8, 11, 12, 13}

In [43]:
setA.symmetric_difference(setB)

{1, 3, 6, 7, 8, 11, 12, 13}

**DIFFERENCE**

- a-b returns a set with all items in a that are not in b.
-  uses '-'

In [44]:
setA -setB

{1, 3, 8}

In [45]:
setB -setA

{6, 7, 11, 12, 13}

## Set Example

#### Using the sets below find:
- a | b (a union b)
- a & b (a intersection b)
- a ^ b ( a symmetric difference b)
- b - a ( b difference a)

##### you can also use the keyword set to create a Python set
a = set([1, 2, 3, 4])


b = set([3, 4, 5, 6])