## Data Structures

A **data structure** is a particular way of organizing data in a computer so that it can be used effectively 
For example we can store a collection of items in a list.

In python we have a few  built-in data structures available, for example:

   - Lists 
   - Tuples
   - Dictionaries 
   - Sets 
    
Lists and tuples are ordered sequences of objetcs. They contain any type of objects not just strings.

Sets are unordered sequence of object

In [246]:
#Ordered
list1 = [1,2,3,4,"CDAV", 3.0]
print(list1)

[1, 2, 3, 4, 'CDAV', 3.0]

In [247]:
type(list1)

list

In [248]:
list1[0]

1

In [251]:
list1[5]

3.0

In [252]:
list1[-1]

3.0

In [253]:
list1[-6]

1

## Lists 
Like a string, a list is a sequence of values. In a string, the values are characters; in a list,
they can be **any type**. The values in a list are called **elements** or sometimes items.

There are several ways to create a new list; the simplest is to enclose the elements in square
brackets ([ and ]):

    - [10, 20, 30, 40]
    - ['Holy Grail', 'Life of Brian', 'The Meaning of Life']
    - ['egg', 2, 3.14, [1,2,5,10]]
    
Other way of creating lists is by using the inbuilt function list([])

In [5]:
#Waays of writing lists

#Using square brackets
days = ["Mon", "Tue","Wed","Thur"]
 
print(days)
type(days)

['Mon', 'Tue', 'Wed', 'Thur']

list

In [6]:
#Using list() in-built function.You also use the square brackets.
days1 = list(["Mon", "Tue","Wed","Thur"]) 
print(days1)
type(days1)

['Mon', 'Tue', 'Wed', 'Thur']

list

list

In [171]:
numbers = [10, 20, 30, 40] #list of integers
monty = ['Holy Grail', 'Life of Brian', 'The Meaning of Life'] #list of strings
random = ['java', 1, [1,2,3,4]] # heterogenous list with different data types.

In [172]:
numbers[0]

10

In [3]:
random2 = random[0], random[1]
random2

('java', 1)

In [173]:
words = ["Pen", "Paper", "Pineapple"]
print(words)
words2 = list(["Apple", "Pen", "Pineapple"])
print(words2)

['Pen', 'Paper', 'Pineapple']
['Apple', 'Pen', 'Pineapple']

In [174]:
n = list([1,2,3,4,5])

print(n)

type(n)

[1, 2, 3, 4, 5]

list

In [175]:
monty = ['Holy Grail', 'Life of Brian', 'The Meaning of Life']
monty1 = [monty[1],monty[0]] # Creating a new list from a list

In [176]:
monty1

['Life of Brian', 'Holy Grail']

In [177]:
num = [numbers[0],numbers[2]]

In [178]:
num

[10, 30]

In [179]:
j = [1,2,3,4,5]
k = [j[4],j[1],j[0]]

In [180]:
print(j)
print(k)

[1, 2, 3, 4, 5]
[5, 2, 1]

In [181]:
empty = [] # Empty lists are lists with no elements and can be populated at a later time in your program

#### List are mutable 
Lists can be changed - unlike strings, lists are mutable. When the bracket operator appears on the left side of an assignment, it identifies the element of the list that will be assigned

The syntax for accessing the elements of a list is the same as for accessing the **characters
of a string**—the bracket operator[]. The expression inside the brackets specifies the index.
The indices start at 0. For example:

    print(monty[0])

In [8]:
#Accessing items in a list

days = ["Mon", "Tue","Wed","Thur"]

#Indexing. Start counting from 0
days[0]

'Thur'

In [10]:
days[-1]

'Thur'

In [13]:
#Replacing an item in a list
days = ["Mon", "Tue","Wed","Thur"]
days[0] = "Sun"
print(days)

['Sun', 'Tue', 'Wed', 'Thur']

In [14]:
days[-3] = "Wed"
print(days)

['Sun', 'Wed', 'Wed', 'Thur']

In [182]:
words = ["Pen", "Paper", "Pineapple"]

In [183]:
#Replace an item in a list
words[0] ="Apple"

In [184]:
words

['Apple', 'Paper', 'Pineapple']

In [185]:
words[2] = 'Mango'
print(words)

['Apple', 'Paper', 'Mango']

In [186]:
monty[1] = 'Not Life of Brian'

In [187]:
monty

['Holy Grail', 'Not Life of Brian', 'The Meaning of Life']

In [19]:
# accessing items in a list
print(monty[1])

Not Life of Brian

In [20]:
even_num = [2,4,6,8]
even_num

[2, 4, 6, 8]

In [21]:
even_num[1] = 10
even_num

[2, 10, 6, 8]

In [22]:
even_num[3]

8

In [23]:
even_num[-1]

8

In [24]:
numbers

[10, 20, 30, 40]

In [25]:
numbers[1] = 70 # lists are mutable

In [26]:
numbers

[10, 70, 30, 40]

In [27]:
numbers[-4]

10

**mapping** 

List indices work the same way as string indices: 
- Any integer expression can be used as an index.
- If you try to read or write an element that does not exist, you get an IndexError
- If an index has a negative value, it counts backwards from the end of the list

We also have the in operator, that works the same on lists as it did on strings. 

e.g

numbers = [10, 20, 30, 40]

10 in numbers - This will return either true or false

In [16]:

days = ["Mon", "Tue","Wed","Thur"]
days[3]

'Thur'

In [19]:
#Using the in operator to check if an item is in the list
"Mon" in days

True

###### check if an element exists in a list we use "in". Returns a true or false value

In [188]:
data = ["Bottle", "Mouse", "Phone"]

In [189]:
"Bottle" in data

True

In [30]:
"Book" in data

False

In [190]:
even_num = [2,4,6,8]
2 in even_num

True

In [191]:
5 in even_num

False

In [192]:
10 in numbers

True

In [193]:
23 in numbers

False

In [194]:
70 in numbers

False

In [195]:
17 in numbers

False

In [196]:
21 in numbers

False

#### Traversing a list 
The most common way to traverse a list is a **for** loop 
the syntax remains

    for x in monty:
        print x

In [21]:
days = ["Mon", "Tue","Wed","Thur"]
for weekdays in days:
    print(weekdays)

Mon
Tue
Wed
Thur

In [197]:
numbers = [10, 20, 30, 40]
for i in numbers:
    print(i)

10
20
30
40

In [198]:
# Multiplying by 2
for i in numbers:
    print(i*2)

20
40
60
80

In [199]:
# Square of numbers
for i in numbers:
    print(i**2)

100
400
900
1600

sequence = [12, 34, 89, 56]
for every_element in sequence:
    print(every_element * 2)

In [200]:
for x in monty:
    print(x)

Holy Grail
Not Life of Brian
The Meaning of Life

In [201]:
bag = ["Keys", "Notebook", "Oil"]

for b in bag:
    print(b)

Keys
Notebook
Oil


The above works well if you need to read the elements of a list. But if you want to write or updata the elements, you need the indice.
A common way to do this is to combine the function range and len

    for i in range(len(numbers)):
    numbers[i] = numbers[i] * 2
    
This loop traverses the list and updates each element. len returns the number of elements in the list. range returns a list of indices from 0 to n - 1, where n is the length of the list.Each time through the loop i gets the index of the next element. The assignment statement in the body uses i to read the old value of the element and to assign the new value.

The code uses a for loop to iterate over the elements in the list number. The range() function is used to determine the number of iterations the for loop should perform. The len() function is used to find the length of the number list and provide that number to range(). This means that the for loop will run exactly as many times as there are elements in the number list.

In each iteration of the for loop, the current element of the list number is accessed using its index (i) and then multiplied by 2. The updated value is then stored back in the list at the same index, effectively updating each element in the list

In [202]:
number = [10,20,30,40]

In [203]:
len(number)

4

In [204]:
for i in range(len(number)):
    number[i] = number[i] *2

print(number)

[20, 40, 60, 80]

In [205]:
number

[20, 40, 60, 80]

In [206]:
for i in range(len(number)):
    number[i] = number[i]**2

print(number)

[400, 1600, 3600, 6400]

#### List Operations 
 The + operator concatenates lists:
 
 a = [1,2,3]
 b = [4,5,6]
 
 c = a + b 
 
 then c will have [1,2,3,4,5,6]
 
 The * operator repeats a list a given number of times 
 
 [1] * 4 is [1,1,1,1]

In [22]:
#To count the number of items in a list we use len()
days = ["Mon", "Tue","Wed","Thur"]
len(days)

4

In [23]:
day1 = ["Mon", "Tue","Wed","Thur"]
days2 = ["Sun"]

#Concatenate
days3 = days1 + days2
print(days3)

['Mon', 'Tue', 'Wed', 'Thur', 'Sun']

In [26]:
#Using the * to repeat 
days2*10

['Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun', 'Sun']

In [207]:
a = [1,2,3]
b = [4,5,6]

c = a + b

print(c)

[1, 2, 3, 4, 5, 6]

In [208]:
fname = ["Joyce"]
lname = ["Jane"]

full_name = fname + lname
print(full_name)

['Joyce', 'Jane']

In [209]:
[1 , 2, 3] * 5

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [210]:
[2] * 5

[2, 2, 2, 2, 2]

In [211]:
[30] * 10

[30, 30, 30, 30, 30, 30, 30, 30, 30, 30]

#### List Slicing 
The slice operator also works on lists, same as strings:

Slicing uses indexes, and always includes the first and excludes the last 

p = ['m', 'o', 'n', 't', 'y']

p[0:3] - mon

p[-1] - y

p[3:] - ty

In [29]:
days = ["Mon", "Tue","Wed","Thur"]
days[2:4]

['Wed', 'Thur']

In [30]:
num= [1,2,3,4,5,6,7,8,9]

num[4:9]

[5, 6, 7, 8, 9]

In [212]:

p = ['P', 'y', 't', 'h', 'o', 'n']
p[0:3]

['P', 'y', 't']

In [213]:

p[3:]

['h', 'o', 'n']

In [214]:
p[-4:-1]

['t', 'h', 'o']

#### List Methods
Python provides methods that append 

We have a couple at - https://www.programiz.com/python-programming/methods/list

For example 
append(), extend(), index, count(), pop(), reverse(), sort(), max(), min(), all(), any(), len() etc 

**index()**

returns the index of an element

e.g new_list = ['a', 'b', 'c', 'd', 'e']

new_list.index('a') - should return 0

**insert()** 

insert elements using their index

new_list.insert(0, 'f')

should return a new list with 'f' at index 0 ie  ['f' ,'a' , 'b' , 'c' ,'d' ,'e']

**count()** 

returns count of the element in the list

new_list.count('a') brings 1 because a appears only once in the list

**sort()** 
sorts elements of a list

new_list.sort()

**append()**
Add a single element to the end of the list

new_list.append('q') will add q to the end of that list ie  ['f' ,'a' , 'b' , 'c' ,'d' ,'e','q']

**extend()**
adds iterable elements (list, tuple, string etc.) to the end of the list 

new_list.extend(another_list)

The difference between append and extends:

- **append** adds its argument as a single element to the end of a list. The length of the list itself will increase by one
- **extend**  iterates over its argument adding each element to the list, extending the list. The length of the list will increase by however many elements were in the iterable argument.

In [32]:
days = ["Mon", "Tue","Wed","Thur"]
days.index("Mon")

0

In [33]:
days.index("Tue")

1

In [36]:
#For the insert method we have two arguments(index,item)

days.insert(4,"Sun")
print(days)

['Sun', 'Mon', 'Tue', 'Wed', 'Sun', 'Thur']

In [37]:
days.insert(4,"Frid")
print(days)

['Sun', 'Mon', 'Tue', 'Wed', 'Frid', 'Sun', 'Thur']

In [39]:
#Count() counts the number of times an item has been used in a list
days.count("Tue")

1

In [41]:
days3 = ["Mon", "Tue","Wed","Thur","Thur","Thur"]

days3.count("Thur")

3

In [43]:
#Sort- arranges items for you inorder
num =[2,5,1,9,4,6]
num.sort()
print(num)

[1, 2, 4, 5, 6, 9]

In [46]:
#append- adds items to a list as one item
num1 = [1,2,3,4]
num2 = 9
# num3 = [5,6,7,8]

num1. append(num2)

print(num1)

[1, 2, 3, 4, 9]

In [50]:
num1 = [1,2,3,4]
num3 = [5,6,7,8]

num1. append(num3)

print(num1)

[1, 2, 3, 4, [5, 6, 7, 8]]

4

In [ ]:
num1.index([5,6,7,8])

In [51]:
len(num1)

5

In [53]:
#extend
num1 = [1,2,3,4]
num3 = [5,6,7,8]

num1. extend(num3)

print(num1)

[1, 2, 3, 4, 5, 6, 7, 8]

In [54]:
len(num1)

8

In [215]:
nums = [1,2,3,4,5,7,7,8]

nums.index(1)

0

In [216]:
nums.insert(1, 4)

nums

[1, 4, 2, 3, 4, 5, 7, 7, 8]

In [58]:
nums.count(4)

2

In [59]:
nums.sort(reverse = True) # Default sort is in ascending order, to sort in descending order use reverse = True

nums

[8, 7, 7, 5, 4, 4, 3, 2, 1]

In [60]:
new_list = ['a', 'b', 'c', 'd', 'e','a','a']

new_list.index('c')

2

In [61]:

new_list.index('e')

4

In [62]:
new_list.insert(1, 'f')

new_list

['a', 'f', 'b', 'c', 'd', 'e', 'a', 'a']

In [63]:
new_list.index('f')

1

In [64]:
new_list.count('a')

3

In [65]:
new_list.sort()

new_list

['a', 'a', 'a', 'b', 'c', 'd', 'e', 'f']

In [66]:
new_list.append('q')

new_list

['a', 'a', 'a', 'b', 'c', 'd', 'e', 'f', 'q']

In [67]:
a  = [1,2,3,5,6]

b = [7,6,8,9]

a.append(b) # b will be treated as one element

a

[1, 2, 3, 5, 6, [7, 6, 8, 9]]

In [68]:
c = [1,2,3,5,6]

d = [7,6,8,9]

c.extend(d) # elements in d will be added individually

c

[1, 2, 3, 5, 6, 7, 6, 8, 9]

In [69]:
# create a list
even_numbers = [2, 4, 6]

# create another list
numbers = [8, 10]

# add all elements of even_numbers to numbers
numbers.append(even_numbers)

print(numbers)

[8, 10, [2, 4, 6]]

#### In this case for append, a single item 'even_numbers' is added to the list number

In [70]:
# create a list
prime_numbers = [2, 3, 5]

# create another list
numbers = [1, 4]

# add all elements of prime_numbers to numbers
numbers.extend(prime_numbers)

print(numbers)

[1, 4, 2, 3, 5]

In [71]:
list1 = ["Strathmore", "Daystar","JKUAT"] # list on its own
list2 = ["Riara", "UON"] # list on its own

In [72]:
list1.append(list2) # adds as a single element

list1

['Strathmore', 'Daystar', 'JKUAT', ['Riara', 'UON']]

In [73]:
list3 = ["Strathmore", "Daystar","JKUAT"]
list4 =  ["Riara", "UON"]

In [74]:
list3.extend(list4) # each element will be added as an element on its own

list3

['Strathmore', 'Daystar', 'JKUAT', 'Riara', 'UON']

#### List Comprehension 
Traditionally, a piece of code that loops over a sequence could be written  as follows:
    
    even = []
    
    for i in range(10):
        if i%2 == 0:
            even.append(i)
    even
    
    
the above method works well, but it actually makes things slower for Python, as the interpreter works on each loop to determine what part of the sequence has to be changed

Hence the idea of **list comprehension**

List comprehension offers a shorter syntax when you want to create a new list 

[i for i in range(10) if i % 2 == 0]

In [75]:
even = [] 
for i in range(10):
    if i%2 == 0:
        even.append(i)
even

[0, 2, 4, 6, 8]

In [76]:
even_again = [i for i in range(10) if i % 2 == 0]
even_again

[0, 2, 4, 6, 8]

## Tuples 
Tuples are an ordered sequence of values. The values can be any type, and they are indexed by
integers, so in that respect tuples are a lot like lists. The important difference is that tuples
are **immutable**.

Tuples are useful because they:

 - protect the data, which is immutable 
 - tuples can be used as keys on dictionaries


Syntactically, a tuple is a comma-separated list of values

t = 'a', 'b', 'c', 'd'

Although not necessary it is common to enclose a tuple in parentheses:

t = ('a', 'b', 'c', 'e')

To create a tuple with a single element, you have to include a final comma: 

e.g tu = 'a',

You can also use the inbuilt function **tuple** to create a tuple

a = tuple(['python'])

#### Slicing Tuples

Slice operators work on tuples same as lists only that you cannot modify a tuple 

t[0:3] - ('a','b','c')

In [217]:
names = tuple(['Carol', 'John', 'Okoth', 'Louis'])
names

#type(names)

('Carol', 'John', 'Okoth', 'Louis')

In [218]:

name2 = 'Carol', 'John', 'Okoth' , 'Louis'
name2

('Carol', 'John', 'Okoth', 'Louis')

In [219]:
name3 = ('Carol', 'John', 'Okoth' , 'Louis')
n4 = set(name3)


n4

{'Carol', 'John', 'Louis', 'Okoth'}

In [220]:
nums = tuple([1,3,5,6,7])
nums = nums[3:]

In [221]:
nums

(6, 7)

In [82]:
type(nums)

tuple

In [83]:
name4 = 'Wambui',
name4

('Wambui',)

In [84]:
name5 = ('Wambui',)
name5

('Wambui',)

In [85]:
names_two = ('Carol',)
type(names_two)

tuple

In [86]:
letter = 'a',
letters = ('a',)

In [87]:
print(letter)
print(letters)

('a',)
('a',)

In [88]:
print(names_two)

('Carol',)

In [89]:
t = ('a', 'b', 'c', 'e')

In [90]:
type(t)

tuple

In [91]:
g = 'a', 'b', 'c', 'd'

In [92]:
g

('a', 'b', 'c', 'd')

In [93]:
tu = ('a',)
tu

('a',)

In [94]:
type(tu)

tuple

In [95]:
a = tuple([1,2,3,4,5,6])

a

(1, 2, 3, 4, 5, 6)

In [96]:
a = 'c',
b = 'd'

type(a)

tuple

#### Tuple Assignment 

Video Explanation: https://www.youtube.com/watch?v=iq9WBeCRaSM&ab_channel=CodingwithEstefania

It is at times useful to swap the values of two variables. With the usual assignment which at times becomes hectic. 

example 

a = b 

b = c

c = a

**Tuple Assignment** is a better way of doing this 

a, b = b, a

The left side is a tuple of variables; the right side is a tuple of expressions/values. Each value
is assigned to its respective variable. All the expressions on the right side are evaluated
before any of the assignments.

In [74]:
a = 30
b = 50

In [75]:
print("Originally: ",a)
a = b
print("Current: ",a)

Originally:  30
50

In [76]:
print("Originally: ",b)
b = a
print("Current: ",b)

Originally:  50
Current:  50

In [78]:
a = 30
b = 50

In [79]:
temporary = a
print("Originally: ",a)
a = b
print("Current: ",a)

Originally:  30
Current:  50

In [80]:
print("Originally: ",b)
b = temporary
print("Current: ",b)

Originally:  50
Current:  30

In [81]:
#a,b = b,a
a = 30
b = 50
print("Originally a and b were: ", a, b)
a,b = b,a
print("Current a and b are: ",a ,b)

Originally a and b were:  30 50
Current a and b are:  50 30

In [97]:
a = 7,

b = 10,

a = b # the value of a becomes 10

b = a # the value of b is still 10, because a has now changed to 10

print(a)
print(b)

(10,)
(10,)

In [98]:
a = 7,

b = 10, 

temp = a # store value a in a temporary variable , 7

a = b # the value of a becomes 10

b = temp # the value of b becomes 7

print(a)
print(b)

(10,)
(7,)

In [99]:
print(b)

(7,)

In [100]:
a = 7,

b = 10,

a , b = b, a #tuple assignment

print(a)
print(b)

(10,)
(7,)

In [222]:
student, interest, food = 'Geraldine', 'Read', 'Potatoes'


student

'Geraldine'

In [84]:
date, month, place = 15, "July","strathmore"

print("My birthday is on the", date,"th of ", month, ". It will be held at ", place)

My birthday is on the 15 th of  July . It will be held at  strathmore

In [102]:
print(f"I am {student}, and i like to {interest} and eat {food} ")

I am Geraldine, and i like to Read and eat Potatoes

In [103]:
student, menu, game = 'Rosanne','rice', 'basketball'

In [104]:
game

'basketball'

In [105]:
menu

'rice'

In [106]:

b = 10,

#Tuple assignment

a ,b = b ,a 

print(a)
print(b)

(10,)
(10,)

In [107]:
a = 'Jane',

b = 'Peter',

a, b = b, a

print(a)
print(b)

('Peter',)
('Jane',)

In [108]:
a

('Peter',)

In [109]:

b

('Jane',)

In [110]:
(a,b,c) = (4,5,6)
a

4

In [111]:
b

5

In [112]:
c

6

#### Tuple methods 

Comprehensive list - https://www.programiz.com/python-programming/methods/tuple

Tuple is immutable, hence there are only 2 methods that tuple object can call: **count** and **index**. 

*count()*
returns count of the element in the tuple 

num.count(4)

*index()*
returns the index of the element in the tuple

num.index(4)

In [ ]:
#Immutable- you cannot make changes to the items in it
#Tuples contain different data types
#Ordered

In [55]:
days =('Mon', 'Tue','Wed','Thur')
print (days)

('Mon', 'Tue', 'Wed', 'Thur')

In [56]:
type(days)

tuple

In [57]:
#Ensure that you have a comma
days1 ='Mon', 'Tue','Wed','Thur'
type(days1)

tuple

In [58]:
#Accessing tuples using indices
days1 ='Mon', 'Tue','Wed','Thur'
days1[0]

'Mon'

In [59]:
days1[2]

'Wed'

In [60]:
#Concatenate
half_days1 = "mon","tue","wed"
half_days2 = "thur","frid","sat"
all_days = half_days1 + half_days2
print(all_days)

('mon', 'tue', 'wed', 'thur', 'frid', 'sat')

In [61]:
half_days1*3

('mon', 'tue', 'wed', 'mon', 'tue', 'wed', 'mon', 'tue', 'wed')

In [62]:
half_days1 = "mon","tue","wed"
for days in half_days1:
    print(days)

mon
tue
wed

In [64]:
#Tuple methods

#Count()
half_days1 = "mon","tue","wed","wed","wed"

In [65]:
half_days1.count("wed")

3

In [ ]:
#index

In [66]:
half_days1.index("mon")

0

In [113]:
num = 1,2,3,4,5,5,6,7

In [114]:
num.count(5)

2

In [115]:
index = num.index(5)

index

4

In [116]:
num.index(1)

0

In [117]:
index = num.index(6)

index

6

## Dictionaries 

A dictionary is like a list, but more general. In a list, the indices have to be integers; in a
dictionary they can be (almost) any type.

You can think of a dictionary as a mapping between a set of indices (which are called **keys**)
and a set of **values**. Each key maps to a value. The association of a key and a value is called
a key-value pair or sometimes an item.

Creating a dictionary 

- Lets create a dictionary that maps English to Swahili: 
    
- You can use the inbuit function dict(), or you can use {} to make a dictionary

In [1]:
#Keys: values


#Creating a sim dictionary
person = {"sim1": "Safaricom",
         "sim2": "Airtel",
         "sim3": "Telcom"
         }



#Access a value in dictionary
person["sim1"]

'Safaricom'

In [2]:
#Use the in- uses the key 
#Ensure that your keys are unique

"sim4" in person

False

In [3]:
#Update a dictionary
person["sim3"] = "vodacom"
print(person)

{'sim1': 'Safaricom', 'sim2': 'Airtel', 'sim3': 'vodacom'}

In [4]:
#A new entry
person["sim4"] = "vodacom"
print(person)

{'sim1': 'Safaricom', 'sim2': 'Airtel', 'sim3': 'vodacom', 'sim4': 'vodacom'}

In [5]:
#Delete using key
del person["sim4"] 
print(person)

{'sim1': 'Safaricom', 'sim2': 'Airtel', 'sim3': 'vodacom'}

In [6]:
# #Delete whole dic
# del person 
# print(person)

In [9]:
#removes all entries in a dictionary
person.clear()
print(person)

{}

In [118]:
eng2swa = { 'one' : 'moja',
           'two': 'mbili',
           'three' : 'tatu',
           'four' : 'nne',
           'five' : 'tano'
    
}
eng2swa

{'one': 'moja', 'two': 'mbili', 'three': 'tatu', 'four': 'nne', 'five': 'tano'}

In [119]:
eng2swa['one']

'moja'

In [120]:
eng2swa['five']

'tano'

In [121]:
eng2swa.items()

dict_items([('one', 'moja'), ('two', 'mbili'), ('three', 'tatu'), ('four', 'nne'), ('five', 'tano')])

In [122]:

eng2swa.keys()

dict_keys(['one', 'two', 'three', 'four', 'five'])

In [123]:
eng2swa.values()

dict_values(['moja', 'mbili', 'tatu', 'nne', 'tano'])

The in operator only checks for keys and not values

In [124]:
'one' in eng2swa

True

In [125]:
'six' in eng2swa

False

In [126]:
"nne" in eng2swa

False

In [127]:
"mbili" in eng2swa

False

In [128]:
num2swa = {1: 'one',2: 'two', 3: 'three'}
num2swanum2swa = {1: 'one',2: 'two', 3: 'three'}
num2swa

{1: 'one', 2: 'two', 3: 'three'}

In [129]:
num2swa.keys()

dict_keys([1, 2, 3])

In [130]:
num2swa.values()

dict_values(['one', 'two', 'three'])

In [131]:
num2swa.items()

dict_items([(1, 'one'), (2, 'two'), (3, 'three')])

In [132]:
#Checking your keys
eng2swa.keys()

dict_keys(['one', 'two', 'three', 'four', 'five'])

In [133]:
#Checking your values
eng2swa.values()

dict_values(['moja', 'mbili', 'tatu', 'nne', 'tano'])

In [134]:
#Check dictionary
eng2swa.items()

dict_items([('one', 'moja'), ('two', 'mbili'), ('three', 'tatu'), ('four', 'nne'), ('five', 'tano')])

In [135]:
#accessing the values by their keys
eng2swa['three']

'tatu'

In [136]:
num2swa = {1: 'one',2: 'two', 3: 'three'}
num2swa

{1: 'one', 2: 'two', 3: 'three'}

In [137]:
num2swa[1]

'one'

In [138]:
num2swa[2]

'two'

In [139]:
len(num2swa)

3

In [140]:
len(eng2swa)

5

In [141]:
#Creating a dictionary using the keyword dict
eng2esp = dict(one="uno")

In [142]:
fruits = dict(sweet = "apple" , bitter = "lemon" )
fruits

{'sweet': 'apple', 'bitter': 'lemon'}

In [143]:
fruits.keys()

dict_keys(['sweet', 'bitter'])

In [144]:
fruits.values()

dict_values(['apple', 'lemon'])

In [145]:
eng2esp

{'one': 'uno'}

In [146]:
type(eng2esp)

dict

In [147]:
eng2esp = {'one': 'uno', 'three': 'tres', 'two': 'dos'}

#### Dictionary methods
 Get the list from - https://www.programiz.com/python-programming/methods/dictionary

##### Checking your keys
eng2fre.keys()
##### Check dictionary
eng2fre.items()
##### in operator 
'three' in eng2fre
##### create a new dictionary 
returns a copy of the dictionary

fre = eng2fre.copy()
##### clear
removes all the items in a dictionary 

fre.clear()
##### get()
returns the value of the key

eng2fre.get('one')
##### pop()
removes and returns an element from a dictionary having the given key.

eng2fre.pop('one')
##### update()
eng2fre.update({'two':'mbili'})

In [148]:
my_dict = {'a': 1, 'b': {'c': 2, 'd': 3}}

# Update with nested elements
my_dict = {**my_dict, 'b': {**my_dict['b'], 'e': 4}}

print(my_dict)
# Output: {'a': 1, 'b': {'c': 2, 'd': 3, 'e': 4}}

{'a': 1, 'b': {'c': 2, 'd': 3, 'e': 4}}

In [149]:

nums = dict(moja = "one" , mbili = "two", tatu ="three", nne ="four")
nums

{'moja': 'one', 'mbili': 'two', 'tatu': 'three', 'nne': 'four'}

In [150]:
nums.keys()

dict_keys(['moja', 'mbili', 'tatu', 'nne'])

In [151]:
nums.items()

dict_items([('moja', 'one'), ('mbili', 'two'), ('tatu', 'three'), ('nne', 'four')])

In [152]:
nums.values()

dict_values(['one', 'two', 'three', 'four'])

In [153]:
'moja' in nums

True

In [154]:
new = nums.copy()
new

{'moja': 'one', 'mbili': 'two', 'tatu': 'three', 'nne': 'four'}

In [155]:
nums.get('moja')

'one'

In [156]:
nums.pop("moja") # this removes the key value pair

'one'

In [157]:

nums

{'mbili': 'two', 'tatu': 'three', 'nne': 'four'}

In [158]:
nums.clear()

nums

{}

In [159]:
nums.items()

dict_items([])

In [160]:
nums.keys()

dict_keys([])

In [161]:
nums.values()

dict_values([])

In [162]:
3 in nums

False

In [163]:
nambari = nums.copy()
nambari

{}

In [164]:
nambari.clear()
nambari

{}

In [165]:
nums.get("moja")

In [166]:
nums

{}

In [167]:
nums = dict(moja = "one" , mbili = "two", tatu ="three", nne ="four")
nums

{'moja': 'one', 'mbili': 'two', 'tatu': 'three', 'nne': 'four'}

In [168]:
nums.pop("moja")

'one'

In [169]:
nums

{'mbili': 'two', 'tatu': 'three', 'nne': 'four'}

In [223]:
nums.pop("moja")

AttributeError: 'tuple' object has no attribute 'pop'

In [ ]:
nums.pop("moja")

In [ ]:
nums

In [ ]:
nums.update({"mbili" : 2})
nums

In [ ]:
#Nested dictionary
book = {
        1:{'title':'A song of ice and fire', 'author': 'G.R.R.M'},
        2:{'title':'The Lord of the Rings', 'author':'J.R.R.T'},
        3:{'title':'Emotional Healing', 'author':'Jandevrivs'}
}

In [ ]:
book.update(4='title')

In [ ]:
book.items()

In [ ]:
book.keys()

In [ ]:
book.values()

In [ ]:
for i in book.values():
    print(i)

In [ ]:
for i in book.items():
    print(i)

In [ ]:
for i in book.keys():
    print(i)

In [ ]:
squares = {}
for x in range(8):
    squares[x] = x**2

In [ ]:
squares

In [ ]:
for x in squares.values():
    print(x)

In [ ]:
{x for x in squares.values()}

In [ ]:
{x for x in squares.keys()}

In [ ]:
{x for x in squares.items()}

In [ ]:
squares.items()

In [ ]:
squares.keys()

In [ ]:
squares.values()

## Sets
Equivalent to sets in mathematics. 
A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. 

Sets are constructed from a sequence (or some other iterable object).
Since sets cannot have duplicated, there are usually used to build sequence of unique items (e.g., set of identifiers)

You create sets by using: 
  - {}
  - set()

In [225]:
evn = {2,4,6,8,10,10,10}
odd = {1,3,5,7,9}
prime = {2,3,5,7}

In [226]:
evn.union(prime)

{2, 3, 4, 5, 6, 7, 8, 10}

In [227]:
evn ^ prime

{3, 4, 5, 6, 7, 8, 10}

In [228]:
odd | prime

{1, 2, 3, 5, 7, 9}

In [229]:
odd ^ prime

{1, 2, 9}

In [230]:
prime -odd

{2}

In [231]:
prime - evn

{3, 5, 7}

In [232]:
evn

{2, 4, 6, 8, 10}

## Examples of operations that can be done on sets

In [233]:
evn.union(odd) #returns a set that contains all the items in both the sets- combines even and odd

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [234]:
evn.union(prime)

{2, 3, 4, 5, 6, 7, 8, 10}

In [235]:
odd | prime # returns a set with all the items in odd and prime

{1, 2, 3, 5, 7, 9}

In [236]:
evn | odd #same as union returns a set that has all the elements in both sets even or odd

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [237]:
odd.intersection(prime) # returns a set that has items that exist in both the sets -numbers that are both odd and prime

{3, 5, 7}

In [238]:
odd & prime # same as intersection

{3, 5, 7}

In [239]:
evn.intersection(prime)# both even and prime

{2}

In [240]:
evn & prime

{2}

In [241]:
odd.symmetric_difference(prime) # returns a set of items that are not in both sets

{1, 2, 9}

In [242]:
odd ^ prime # same as symmetric difference

{1, 2, 9}

In [243]:
evn.symmetric_difference(prime)

{3, 4, 5, 6, 7, 8, 10}

In [244]:
evn - prime # returns a set of the difference between two sets ie all items in evn and not in prime -number 
#that is even but not prime

{4, 6, 8, 10}

In [245]:
odd - prime # returns a set of the difference between two sets ie all items in odd and not in prime - number 
#that is odd but not prime

{1, 9}