## Introduction to Python.
We look at the essential building blocks to Python


## Python basics.

### Variables and Data types

### Values:
A value is one of the basic things a program works with, like a letter or a number The values we have seen so far are 1, 2, and 'Hello, World!'.

In [ ]:
# 10,2+4 and Hello World are values
print(10)
print(2+4)
print('Hello World')

In [26]:
print (10)
print('Hello World')
print("Hello World")

10
Hello World
Hello World

### Variables:
A **variable** is a name that refers to a value.

Variables are also containers in which values are stored to be later used.

The equal (=) sign is used to assign a value to a variable

Let's assign the value "Hello World" to greetings:

greetings = "Hello"

In [5]:
greetings = "Hello"
print(greetings)

In [30]:
name = "Kakina"
print(name)

Kakina

### Variable naming rules:
There are rules that govern naming of variable. Variables can contain both letters and numbers, but they have to begin with a letter. It is legal to use uppercase letters, but it is a good idea to begin variable names with a lowercase letter

-A variable name can contain letters (both uppercase and lowercase), digits, and underscores (_).

-It must start with a letter or an underscore. It cannot start with a digit.

-Variable names are case-sensitive, so "myVar" and "myvar" are considered different variables.

-You cannot use reserved python words as a variable name.

-It should be one word, no spacing. Any linking should be done using underscore.

-Do not use certain characters e.g #,@,,,-,+,(),/,\

-Do not share names, this will reassign the variable.

In [32]:
#Case sensitive
name = "Kakina"
NAME ="Christine"
Name = "Cici"
print(name)
print (NAME)
print (Name)

Kakina
Christine
Cici

In [36]:
school =" Strathmore "

school = " UON "
Abraham = "My name is Abraham"
print(Abraham)
print(school)

My name is Abraham
 UON

In [ ]:
#Starting with digits
1firstname = "Christine"
second_name = "Kakina"

print(first_name, second_name)

In [6]:
#Case sensitive
myVar = 10
myvar =20
print(myVar)
print(myvar)

In [37]:
#Reserved words
print = 10
print(print)

TypeError: 'int' object is not callable

In [1]:
#Reserved words
number1 = 10
print(number1)

10

In [5]:
#Using underscore to link two words
userName_one= "Sandra"
userName2_two = 'Maria'
print(userName_one)
print(userName2_two)

Sandra
Maria

In [9]:
userName_one = "Maria"
userName_one = "Sandra"
print(userName_one)

('Maria', 'Sandra')

### Data types:
Values are of different **types**: 10 is an **Integer**, and 'Hello, World!' is a **string**,
so-called because it contains a “string” of letters. You (and the interpreter) can identify
strings because they are enclosed in quotation marks(Either double or single).

If you are not sure what type a value has, the interpreter can tell you.
Run this on your notebook

1.***type('Hello, World!')***

2.***type(17)***

In [11]:
#Strings 
#type() to check a value's data type
type('Hello, World!')

str

In [12]:
#Integers
type(10000)

int

In [14]:
#Floats
type(17.6543212678923456789098765432134567890)

float

In [15]:
#Boolean
type(False)

bool

### Data types:

**numbers:**

int: Represents integer values, such as 5 or -10.
float: Represents floating-point numbers with decimal values, such as 3.14 or -2.5.

**sequences:**

str: Represents a sequence of characters enclosed in single quotes ('') or double quotes (""). Strings are used for representing text data.
list: Represents an ordered collection of items enclosed in square brackets ([]). Lists can contain elements of different types and are mutable, allowing for modification of elements.

**booleans:**

bool: Represents a boolean value that can be either True or False. Booleans are used for logical operations and conditional statements.

In [1]:
# Boolean variables
is_sunny = True
is_raining = False

# Logical operations
print(is_sunny and is_raining)  # Logical AND
print(is_sunny or is_raining)   # Logical OR
print(not is_sunny)             # Logical NOT

False
True
False

In [ ]:
#T AND T = T
#F OR F = F
#NOT REVERSES

In [16]:
is_sunny = True
is_raining = True
print(is_sunny and is_raining)

True

In [17]:
is_sunny = False
is_raining = False
print(is_sunny or is_raining)

False

In [21]:
is_sunny = False
is_raining = True
print(is_sunny or is_raining)

True

## Operators and operands
Operators are special symbols that represent computations like addition and multiplication.
The values the operator is applied to are called **operands**.

Mathematical Operators - BODMAS

B - Brackets - ()
E - Exponent - **
D - Division - /
M - Multiplication - * 
A - Addition - +
S - Subtraction = -

Comaprison Operators 

equal to  ==
less than < 
greater than >
less than or equal to <=
greater than or equal to >=

Logical Operators 
- or (Returns false when all case are false ,else  true)
- and (Returns True when all case are True ,else  false)
- not (It is used to reverse the truth value of a boolean expression)

In [18]:
a = 30
b = 40 
print(a+b)

70

In [22]:
a = 30
b = 40 
print(a-b)

-10

In [23]:
a = 30
b = 40 
print(a*b)

1200

In [25]:
a = 30
b = 40 
div = a/b
print(div)
type(div)

0.75

float

In [ ]:
#Returns false only when both cases are false, else true
1 == 1 or 1 == "1"

#Returns the opposite boolean value
not 1 == "1"

### Write a python code that calculates the mean grade of a student taking three subjects

In [26]:
#Define variables
mathematics = 20
English = 90
Swahili = 70 

#Add sujects
add_subjects = mathematics + English + Swahili

#calculate the mean
mean = add_subjects/3
print(mean)

60.0

In [27]:
#another way
mean = (mathematics + English + Swahili) / 3
print(mean)

60.0

## Expressions and statements
An **expression** is a combination of values, variables, and operators. A value all by itself
is considered an expression, and so is a variable, so the following are all legal expressions
(assuming that the variable x has been assigned a value):
- 17
- x = 17
- x + 17

A **statement** is a unit of code that the Python interpreter can execute. We have seen two
kinds of statement: print and assignment.

In [28]:
17

x = 17

x + 17

34

### Using Python as a calculator 
#### Numbers
The interpreter acts as a simple calculator: you can type an expression at it and it will write the
value. Expression syntax is straightforward: the operators +, -, * and / work just like in most
other languages. 

For example:


-addition +

-subtratction -

-multiplication *

-division / (returns a decimal point) , // floor division - returns a whole number

-modulus % (returns the remainder)

-power **

In [29]:
5**2 # 5 to the power of 2 or 5^2

25

In [30]:
# ^ symbol is used for bit operations
5^2

7

In [31]:
10 // 2

5

In [33]:
5/3

1.6666666666666667

In [34]:
5//3

1

In [35]:
7/3

2.3333333333333335

In [36]:
7//3

2

In [37]:
7 % 3

1

In [38]:
20 % 7

6

### Importing modules in Python
 
A module can be conisdered to be the same as a code library or a file containing a set of functions you want to include in your application.
Some of the most common built in python modules include **pandas, numpy, matplotlib, seaborn** etc.
To use a module you can import it to your code using the import statement.
The following ways can be used to import modules.
-  import module as m (renaming the module) - **import math as m**
-  import module (directly without renaming) - **import math**
-  from module import* (import all methods and variables in a module in a way you don't have to reference the module name) - **from math import***
-  from module import specific function (imports only a specific function in the module) **from math import pi**

In [7]:
import pandas as pd
import numpy as np

In [39]:
import math as m
m.pi

3.141592653589793

In [40]:
import math
math.pi

3.141592653589793

In [41]:
from math import*
pi

3.141592653589793

In [5]:
import math as m
help(m)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [8]:
import pandas 
help (pandas)

In [9]:
m.pi #gives the pi value

3.141592653589793

In [10]:
m.sqrt(49) #does square root of a number

7.0

In [11]:
m.pow(5,2) # does the power of a number ie 5 power 2

25.0

In [12]:
m.ceil(5.89) #Rounds a number up to its nearest integer

6

In [13]:
m.floor(5.89) #Rounds a number down to its nearest integer

5

In [14]:
import math
math.log(10) # gets the log value 
math.sqrt(25)
math.floor(4.5)

4

## Type Conversion 
Python defines type conversion functions to directly convert one data type to another

In [15]:
#Change from float to integer
c = 4.8902467599
#check its type before
type(c)

float

In [20]:
b = int(c)

#check its type after
type(b)

int

In [19]:
# Change it back
d = float(b)

#check its type after
type(d)

float

## Comments 
As programs get bigger and more complicated, they get more difficult to read. Formal
languages are dense, and it is often difficult to look at a piece of code and figure out what
it is doing, or why.

For this reason, it is a good idea to add notes to your programs to explain in natural language
what the program is doing. These notes are called **comments**, and they start with
the # symbol


#A customer's initial deposit amount is $400.

Calculate the total amount after applying a 5% interest rate for one year.

In [22]:
# Define variables
userDeposit = 400
rate= 0.05

# Calculate Interest
interest = userDeposit * rate

# Calculate total amount after interest
TotalAmount = interest + userDeposit
print(TotalAmount)

420.0

In [ ]:
# Initial deposit amount
initial_deposit = 400

# Interest rate (converted to decimal form)
interest_rate = 0.05

# Calculate the interest amount
interest_amount = initial_deposit * interest_rate

# Calculate the total amount after one year
total_amount = initial_deposit + interest_amount

# Print the result
print("Total amount after one year:", total_amount)

### Docstrings 
Python docstrings are written as triple-quoted strings (""" """) and are typically placed immediately after the definition of the code element they document. They can span multiple lines 

Docstrings in Python have several purposes:

> 1. Documentation: They serve as a reference for developers, providing information about the purpose, inputs, outputs, and any important details or considerations related to the code element.

> 2. Readability: Docstrings enhance code readability by making it easier for others (and yourself) to understand the code's intended usage and functionality.

> 3. Help and Documentation Generation: Python's built-in help() function and documentation generation tools like Sphinx can extract and format docstrings to generate helpful documentation.

> 4. Interactive Help: Integrated development environments (IDEs) and interactive Python shells can display docstrings when developers query help on a specific code element.

#### Example below

def add_numbers(a, b):

    """
    Adds two numbers and returns the result.

    Parameters:
    a (int): The first number.
    b (int): The second number.

    Returns:
    int: The sum of the two numbers.
    """
    return a + b

In [23]:
def add_numbers(a, b):
    """
    Adds two numbers and returns the result.

    Parameters:
    a (int): The first number.
    b (int): The second number.

    Returns:
    int: The sum of the two numbers.
    """
    return a + b

In [24]:
add_numbers(100,233)

333

In [26]:
add_numbers(300,50)

350

In [25]:
help(add_numbers)

Help on function add_numbers in module __main__:

add_numbers(a, b)
    Adds two numbers and returns the result.

    Parameters:
    a (int): The first number.
    b (int): The second number.

    Returns:
    int: The sum of the two numbers.

## String methods
Strings are a sequence of characters

You cannot perform mathematical operations on strings, even if they look like numbers e.g '2'-'1'

They can be enclosed in single quotes (&#39;...&#39;) or double quotes (&quot;...&quot;).

string Methods .upper() .lower() len() .replace()

In [27]:
b = "Python"
type(b)

str

In [29]:
b.upper()

'PYTHON'

In [30]:
b.lower()

'python'

In [32]:
len(b)

6

In [33]:
b.replace("y","i")

'Pithon'

In [28]:
string2 = 'strathmore'
string2.upper()

'STRATHMORE'

In [ ]:
string2.lower()

In [ ]:
len(string2)

In [ ]:
string2.replace('t', 'c')

In [ ]:
var = 'banana'
var.replace('a', "o")

## Special Characters 
###   \t -tab space 
###  \n - new line

In [34]:
print("Today is Tuesday. It is very hot")

Today is Tuesday. It is very hot

In [35]:
#new line
print("Today is Tuesday \n It is very hot")

Today is Tuesday
 It is very hot

In [36]:
#Space
print("Today is Tuesday\t It is very hot")

Today is Tuesday	 It is very hot

### Combining strings
You can either use commas or  Concatenation ( ** this can only be done on strings and not any other data type) or f strings

In [19]:
#Define variables
name = "Christine"
Unit = "CDAV"

### Using Commas
print(name, Unit)

Christine CDAV

In [ ]:
print('My name is ',name, 'I am taking ', Unit)

In [4]:
#Combining strings using commas
position = "secretary"
floor = "Second"
companyName = "Safaricom"

print ("My name is Christine Kakina and I work as a ",position,"at",companyName,". Find me in the",floor,"Floor.")

My name is Christine Kakina and I work as a  secretary at Safaricom . Find me in the Second Floor.

In [10]:
#Combining strings using concatination
print ("My name is Christine Kakina and I work as a "+ position+ " at " +companyName+". Find me in the"+floor+" Floor.")

My name is Christine Kakina and I work as a secretary at Safaricom. Find me in theSecond Floor.

In [11]:

#Combining strings using f strings
print ( f" My name is Christine Kakina and I work as a {position} at {companyName}. Find me in the {floor} floor. ")

 My name is Christine Kakina and I work as a secretary at Safaricom.Find me in the Second floor.

In [22]:
#Concatination
print(name+ " "+Unit+ " " )

Christine CDAV

In [ ]:
### Using f strings 
print(f"{name} {Unit}")

In [ ]:
print(f"My name is {name} I am taking {Unit}")

## Print your Fave book + the author of that book and rating of the book using the string combination methods mentioned

In [15]:
book = "Little red riding hood"
Author = "Mermaid"
rating = "4.5"
print("My favourite book is", book, " by ", Author,"it has a rating of ", rating)

My favourite book is Little red riding hood  by  Mermaid it has a rating of  4.5

In [16]:
#Concatinations cannot be used in float variables
print("My favourite book is"+ book+ " by "+ Author+"it has a rating of "+ rating)

My favourite book isLittle red riding hood by Mermaidit has a rating of 4.5

## String Manipulation
### SLICING - INCLUDES THE FIRST EXCLUDES THE LAST

#Indexing
W A T E R M E L O N 

0 1 2 3 4 5 6 7 8 9

W A T E R M E L O N

-10  -9  -8  -7  -6  -5  -4  -3 -2  -1

In [18]:
fruit = "Watermelon"

In [19]:
fruit[0:5]

'Water'

In [20]:
fruit[5:10]

'melon'

String Slicing - In addition to indexing, slicing is also supported. While indexing is used to obtain individual
characters, slicing allows you to obtain substring:

A point to note is that when it comes to slicing and selcting ranges of strings, Python **Includes the first and Excludes the last.**

# User Input 

Python has an input function which lets you ask a user for some text input. You call this function to tell the program to stop and wait for the user to key in the data. 

In  python3, you have the inbuilt function **input()**. The program will resume once the user presses the ENTER or RETURN key

**input()** function is used to receive input from a user

**print()** is the output function that displays an output to a user.

In [21]:
age = input("How old are you?")

How old are you?40

In [22]:

print(age)

40

## Use the inbuilt function input() to get user input on the following questions:
## 1. What is your name?
## 2. How old are you?
## 3. Where do you stay?
## Combine the three statements using any string combination methods and print out the result

In [25]:
#Define user inputs
userName = input("Please enter your name " )
userAge = input("Please share your age " )
userLocation = input("Where do you stay " )

print ("My name is " ,userName," I am ",userAge, " years old and I live in ", userLocation)

Please enter your name Christine
Please share your age 30
Where do you stay syoki
My name is  Christine  I am  30  years old and I live in  syoki